

body {
	color: #f1f2f3;
	background: #271b68;
	background: #1d144d;
	font-family: -apple-system, BlinkMacSystemFont, Ubuntu, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
input.button, .button {
    color: #fff !important;
	border: 1px solid rgba(0, 0, 0, 0.7);
	font-weight: 600;
    border-radius: 4px;
    background: #0073e8;
    background: linear-gradient(135deg, #00bec7, #0073e8);
    transition: all 0.2s ease;
    width: 200px;
}

.button:hover {
	color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.85);
    /* box-shadow: 0 10px 40px -4px rgba(0, 0, 0, 0.8); */
}

.column span {
	font-size: 1rem;
}

input[type="button"]:active {
	color: #fff !important;
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}
*:focus {
    outline: 0 !important;
}

h1.title {
	color: #fff;
}

.messages {
	overflow: hidden;
	min-height: 3rem;
}

span.info {
	font-size: 2.5rem;
	font-weight: 900;
}

span.label {
	font-size: 1rem;
	color: #ffe69e;
	font-weight: normal;
	text-transform: uppercase;
}

div.hidden {
	visibility: hidden;
	/* display: hidden; */
}

div.show {
	visibility: visible;
}
